@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.fam {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 30px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.head {
  text-transform: uppercase;
  text-align: center;
}

.vdo {
  width: 80%;
}
